<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body class="md:px-10 px-3 py-10 bg-gradient-to-l to-indigo-950 from-black">
    <div
      class="w-fit mx-auto mb-10 bg-blue-500/10 rounded-full px-3 py-0.5 border border-blue-400/20 text-sm md:text-lg"
    >
      <button
        onclick="window.location.href = '/home'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        Home
      </button>
      <button
        onclick="window.location.href = '/i-owe'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        I Owe
      </button>
      <button
        onclick="window.location.href = '/they-owe'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        They Owe
      </button>
      <button
        onclick="window.location.href = '/history'"
        class="bg-clip-text bg-gradient-to-tr text-transparent from-purple-500 to-sky-500 font-medium py-1 sm:px-3 px-1 rounded-full transition-all hover:scale-105"
      >
        History
      </button>
      <button
        onclick="window.location.href = '/split-the-bill'"
        class="text-slate-500 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-slate-300 transition-all hover:scale-105"
      >
        Split Bill
      </button>
      <button
        onclick="window.location.href = '/logout'"
        class="text-violet-500/60 py-1 sm:px-3 px-1 rounded-full font-medium hover:text-violet-500/90 transition-all hover:scale-105"
      >
        Log Out
      </button>
    </div>

    <div class="group">
      <h1
        class="group-hover:scale-105 transition-all mx-auto font-extrabold text-7xl text-center bg-clip-text text-transparent bg-gradient-to-r from-purple-500 via-violet-600 to-blue-600 w-fit"
      >
        Owe No!
      </h1>
      <div
        class="group-hover:scale-105 delay-100 transition-all bg-gradient-to-r from-purple-500 via-violet-500 to-blue-500 w-fit mx-auto px-3 py-0.5 rounded-lg mt-2 shadow-lg shadow-violet-500/40"
      >
        <p class="text-white font-medium text-center">
          track debts, keep friends.
        </p>
      </div>
    </div>

    <div class="md:w-3/5 mx-auto mt-10 transition-all lg:w-1/2">
      <p class="font-semibold text-3xl ml-5 text-slate-300">
        
        <span
          class="text-3xl font-bold text-transparent bg-gradient-to-tr to-sky-500 from-purple-500 bg-clip-text"
          >History</span
        >
      </p>
      <p class="font-normal text-sm lg:text-base ml-5 text-slate-400">
        Payment and Borrow History
      </p>
    </div>

    <div
      class="lg:w-3/5 w-5/5 px-0 md:px-5 mx-auto 2xl:w-1/2 transition-all"
    >
      <div
        class="col-span-2 rounded-lg py-3 px-5 shadow-lg mt-5 bg-blue-500/10 border border-blue-400/20 overflow-y-auto max-h-72 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-blue-950/90"
      >
        <p class="mx-auto font-semibold text-lg text-white w-fit">Payment History</p>

        <% for (let i = 0; i < paymentData.length; i++) {
          const element = paymentData[i];
          
          if (element.owetype === "i"){%>
          
        
        <button onclick="window.location.href = '/my-debt-details/<%= element.debt_id %>'"
          class="w-full bg-purple-400/10 mt-2  rounded text-white px-4 py-2 border border-purple-500/20 hover:bg-purple-500/30 active:bg-purple-500/50 transition-all hover:shadow-md hover:shadow-purple-600/30 group"
        >
          <div class="flex items-center">
            <div class="flex-1">
              <p class="font-semibold md:text-lg text-base w-fit">
                You pay
                <span class="text-purple-400/90 group-hover:text-purple-400"
                  >$<%= element.amount_paid.toFixed(2) %></span
                >
                to <%= element.who %>
              </p>
              <p
                class="font-normal text-sm md:text-base text-purple-200/60 md:-mt-0.5 group-hover:text-purple-200/80 w-fit"
              >
              <%= element.reason %>
              </p>
            </div>
            <div class="font-semibold text-lg md:text-xl ">
              <div
                class="flex-col place-items-end gap-3 flex-1 text-purple-300/90 "
              >
                <p class="text-sm font-normal place-items-center flex">
                  <% const iDate = element.createdAt.toString().split(" ") %>
                <%= iDate[1]+" "+ iDate[2]+ " "+ iDate[3]%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-purple-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
                <p class="text-sm font-normal place-items-center flex">
                  <% 
                  var hour = element.createdAt.getHours(); 
                  var minute = element.createdAt.getMinutes();
                  var am_pm = '';

                  if (hour < 12) { 
                    if (hour === 0) { 
                      hour = 12;  // Midnight case
                    }
                    am_pm = 'AM'; 
                  } else { 
                    if (hour === 12) {
                      hour = 12;  // Noon case
                    } else {
                      hour -= 12; // Convert PM time
                    }
                    am_pm = 'PM'; 
                  }
                %>

                <%= hour+":"+minute+" "+am_pm%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-purple-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </button>

        <%} else { %>

        <button onclick="window.location.href = '/their-debt-details/<%= element.debt_id %>'"
          class="w-full bg-blue-400/10 mt-2 rounded text-white px-4 py-2 border border-blue-500/20 hover:bg-blue-500/30 active:bg-blue-500/50 transition-all hover:shadow-md hover:shadow-blue-600/30 group"
        >
          <div class="flex items-center">
            <div class="flex-1">
              <p class="font-semibold md:text-lg text-base w-fit">
                <%= element.who %> paid
                <span class="text-blue-400/90 group-hover:text-blue-400"
                  >$<%= element.amount_paid.toFixed(2) %></span
                >
                to You
              </p>
              <p
                class="font-normal text-sm md:text-base text-blue-200/60 md:-mt-0.5 group-hover:text-blue-200/80 w-fit"
              >
              <%= element.reason %>
              </p>
            </div>
            <div class="font-semibold text-lg md:text-xl ">
              <div
                class="flex-col place-items-end gap-3 flex-1 text-blue-300/90 "
              >
                <p class="text-sm font-normal place-items-center flex">
                  <% const theyDate = element.createdAt.toString().split(" ") %>
                <%= theyDate[1]+" "+ theyDate[2]+ " "+ theyDate[3]%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-blue-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
                <p class="text-sm font-normal place-items-center flex">
                  <% 
                  var hour = element.createdAt.getHours(); 
                  var minute = element.createdAt.getMinutes();
                  var am_pm = '';

                  if (hour < 12) { 
                    if (hour === 0) { 
                      hour = 12;  // Midnight case
                    }
                    am_pm = 'AM'; 
                  } else { 
                    if (hour === 12) {
                      hour = 12;  // Noon case
                    } else {
                      hour -= 12; // Convert PM time
                    }
                    am_pm = 'PM'; 
                  }
                %>

                <%= hour+":"+minute+" "+am_pm%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-blue-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </button>

      <% }} %>

        
      </div>
    </div>

    <div
      class="lg:w-3/5 w-5/5 px-0 md:px-5 mx-auto 2xl:w-1/2 transition-all"
    >
      <div
        class="col-span-2 rounded-lg p-3 shadow-lg mt-5 bg-purple-500/10 border border-purple-400/20 overflow-y-auto max-h-72 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-purple-950/90"
      >
        <p class="mx-auto font-semibold text-lg text-white w-fit">Borrow History</p>


        <% for (let i = 0; i < borrowData.length; i++) {
          const element1 = borrowData[i];%>
          <% if (element1.owetype === "i"){%>  
        
        <div
          class="bg-purple-400/10 mt-2 mx-2 rounded text-white px-4 py-2 border border-purple-500/20 hover:bg-purple-500/30 transition-all hover:shadow-md hover:shadow-purple-600/30 group"
        >
          <div class="flex items-center">
            <div class="flex-1">
              <p class="font-semibold md:text-lg text-base">
                I borrowed
                <span class="text-purple-400/90 group-hover:text-purple-400"
                  >$<%= element1.amount.toFixed(2)%></span
                >
                to <%= element1.who%>
              </p>
              <p
                class="font-normal text-sm md:text-base text-purple-200/60 md:-mt-0.5 group-hover:text-purple-200/80"
              >
              <%= element1.reason%>
              </p>
            </div>
            <div class="font-semibold text-lg md:text-xl ">
              <div
                class="flex-col place-items-end gap-3 flex-1 text-purple-300/90 "
              >
                <p class="text-sm font-normal place-items-center flex">
                  <% const dateI = element1.createdAt.toString().split(" ") %>
                <%= dateI[1]+" "+ dateI[2]+ " "+ dateI[3]%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-purple-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
                <p class="text-sm font-normal place-items-center flex">
                  <% 
                  var hour = element1.createdAt.getHours(); 
                  var minute = element1.createdAt.getMinutes();
                  var am_pm = '';

                  if (hour < 12) { 
                    if (hour === 0) { 
                      hour = 12;  // Midnight case
                    }
                    am_pm = 'AM'; 
                  } else { 
                    if (hour === 12) {
                      hour = 12;  // Noon case
                    } else {
                      hour -= 12; // Convert PM time
                    }
                    am_pm = 'PM'; 
                  }
                %>

                <%= hour+":"+minute+" "+am_pm%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-purple-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </div>

      <% } else { %>

        <div
          class="bg-blue-400/10 mt-2 mx-2 rounded text-white px-4 py-2 border border-blue-500/20 hover:bg-blue-500/30 transition-all hover:shadow-md hover:shadow-blue-600/30 group"
        >
          <div class="flex items-center">
            <div class="flex-1">
              <p class="font-semibold md:text-lg text-base">
                <%= element1.who %> borrowed
                <span class="text-blue-400/90 group-hover:text-blue-400"
                  >$<%= element1.amount.toFixed(2)%></span
                >
                from You
              </p>
              <p
                class="font-normal text-sm md:text-base text-blue-200/60 md:-mt-0.5 group-hover:text-blue-200/80"
              >
              <%= element1.reason %>
              </p>
            </div>
            <div class="font-semibold text-lg md:text-xl ">
              <div
                class="flex-col place-items-end gap-3 flex-1 text-blue-300/90 "
              >
                <p class="text-sm font-normal place-items-center flex">
                  <% const dateThey = element1.createdAt.toString().split(" ") %>
                <%= dateThey[1]+" "+ dateThey[2]+ " "+ dateThey[3]%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-blue-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 1.75a.75.75 0 0 1 1.5 0V3h5V1.75a.75.75 0 0 1 1.5 0V3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2V1.75ZM4.5 6a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-7Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
                <p class="text-sm font-normal place-items-center flex">
                  <% 
                  var hour = element1.createdAt.getHours(); 
                  var minute = element1.createdAt.getMinutes();
                  var am_pm = '';

                  if (hour < 12) { 
                    if (hour === 0) { 
                      hour = 12;  // Midnight case
                    }
                    am_pm = 'AM'; 
                  } else { 
                    if (hour === 12) {
                      hour = 12;  // Noon case
                    } else {
                      hour -= 12; // Convert PM time
                    }
                    am_pm = 'PM'; 
                  }
                %>

                <%= hour+":"+minute+" "+am_pm%>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    class="size-4 inline ml-1 text-blue-500"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </div>

      <% }} %>

        

      </div>
    </div>
  </body>
</html>
